body, html {
  transform-origin: top left;
  background-color: #DCDCDC;
  height: 100%;
}

/*--------------------------------- header ---------------------------------*/

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 10%;
}

.header {
  background-color: #FFF;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px #8D8D8D;
  height: 100%;
}

.header img {
  height: 30px;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: end;
}

/*--------------------------------- main-body ---------------------------------*/

.main-body {
  margin: 0px;
  background-color: #DCDCDC;
  height: 90%;
}

.main-body .body-content {
  height: 100%;
}

.left-side, .middle-content, .right-side {
  padding: 15px;
  height: 100%; 
}

.body-content-row {
  height: 100%;
}

/*--------------------------------- left-side ---------------------------------*/

.left-side {
  background-color: #FFF;
  box-shadow: 3px 0 3px #8D8D8D;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0px;
  /* z-index: 999; */
  /* height: 90%; */
}

.nav-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 100%;
  font-size: 100%;
}

.nav-sidebar li a {
  color: #24305E;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: medium;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
}

.nav-sidebar li {
  box-shadow: 0 0.5px 2px #24305E;
  font-weight: bold;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.profile-name {
  font-weight: bold;
  color: #24305E;
  /* text-decoration: underline; */
  border-bottom: 1px solid #0e183f;
}

.profile-position {
  font-size: small;
  color: #24305E;
} 

.nav-sidebar-mobile {
  display: none;
}

/*--------------------------------- main-content ---------------------------------*/

.title {
  color: #24305E;
  font-weight: bold;
}

.middle-content {
  background-color: #DCDCDC;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.training-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.training-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px #FF5B5B solid;
  border-left: 15px #FF5B5B solid;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.date-training {
  font-weight: bold;
  color: #CE2F2F;
  text-align: center;
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1.5rem;
}

.date-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 30%;
}

.date-content div {
  text-align: center;
}

.date-training::after {
  content: "│";
  display: block;
  color: #8D8D8D;
}

.training-name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex: 5;
  font-weight: bold;
  color: #093980;
  padding-top: 5px;
  padding-bottom: 5px;
}

.view-training {
  flex: 0.5;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.view-training-btn {
  background-color: #4A88FF;
  color: #fff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.view-training-btn:hover {
  background-color: #235ac0;
}

.training-badge{
  background-color: #FC3C15;
  color: #fff;
  padding: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  font-size: 8px;
  top: -7px;
  right: 3px;
  border: 1px #fff solid;
}

::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 0px; /* Rounding the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb when hovered */
}

/*--------------------------------- right side ---------------------------------*/

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent-acts {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 95%;
  height: 95%;
  background-color: #fff;
  box-shadow: 0 1px 3px #555;
}

.recent-header, .recent-content, .recent-footer {
  width: 100%;
}

.recent-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  border-bottom: 1px #999999 solid;
}

.recent-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
  border-bottom: 1px #999999 solid;
  gap: 3px;
}

.recent-footer {
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  height: 40px;
  color: #093980;
}

.recent-header-title {
  font-size: small;
  font-weight: bold;
  color: #093980;
}

.recent-refresh {
  color: #093980;
  font-size: small;
}

.recent-img img {
  width: 40px;
}

.recent-act {
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #0e183f;
  width: 100%;
}

.recent-act:hover {
  background-color: #ebebeb;
}

.recent-act-content {
  font-size: 12px;
}

.recent-age {
  font-size: 10px;
}

.recent-act-read {
  color: #6e6e6e;
}

.recent-duration {
  color: #fff;
  background-color: #24305E;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  cursor: pointer;
}

.recent-filter {
  cursor: pointer;
}


/*--------------------------------- add training page ---------------------------------*/

input {
  border: 1px #686868 solid !important;
  box-shadow: 1px 3px 3px #555;
}

input[type="checkbox"] {
  box-shadow: 0px 0px 0px;
}

select {
  border: 1px #686868 solid !important;
  border-radius: 5px;
}

textarea {
  border: 1px #686868 solid !important;
  box-shadow: 1px 3px 3px #555;
}

label {
  font-weight: bold;
  color: #24305E;
}
/* 
input[type="date"]{
  width: 80%;
} */

.addTraining-title {
  font-weight: bold;
  color: #24305E;
  text-decoration: underline;
  margin-bottom: 30px;
}

.addTraining-content {
  background-color: #FEFEFE;
  padding: 30px;
  padding-top: 10px;
  border-radius: 5px;
  border: 1.5px #929292 solid;
  border-top: 20px #CE2F2F solid;
}

.addTraining-btn {
  background-color: #24305E;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
}

.addTraining-btn:hover {
  background-color: #0e183f;
  color: #fff;
  font-weight: bold;
}

/*--------------------------------- viewTraining ---------------------------------*/

.viewTraining-title {
  font-weight: bold;
  color: #093980;
}

.viewTraining-info {
  display: flex;
  flex-direction: column;
  gap: 2;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
}

.viewTraining-info-title {
  flex: 1;
  font-weight: bold;
  color: #24305E;
}

.viewTraining-info-content {
  flex: 2;
  font-weight: 500;
  color: #570000;
}

.viewTraining-item {
  display: flex;
  flex-direction: row;
}

.viewTraining-item p {
  margin: 2px;
}

.viewTraining-edit {
  display: flex;
  justify-content: end;
}

.openReg-btn {
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.openReg-btn:hover {
  box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);
}

.regDetails-modal {
  border: 1px solid #0e183f;
}

.regDetails-header {
  background-color: #570000;
  color: white;
}

.close-regDetailsModal {
  filter: invert(1) brightness(2);
}

.regDetails-labels {
  font-size: large;
  font-weight: 500;
  color: #570000;
}

.participantTable-container, .attendanceTable-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
}

#participantTable, #attendanceTable {
  text-align: center;
  font-size: small;
  color: #24305E;
  border: 1px solid #093980;
  overflow: scroll;
}

#participantTable thead, #attendanceTable thead {
  background-color: #CE2F2F;
  color: white;
  text-align: center;
  box-shadow: 0 2px 2px grey;
}

#participantTable thead tr th, #attendanceTable thead tr th {
  padding: 10px;
  font-size: small;
}

#participantTable tbody tr td, #attendanceTable tbody tr td {
  padding: 10px;
  font-size: small;
  font-weight: 500;
  cursor: pointer;
}

#participantTable tbody tr:nth-child(odd), #attendanceTable tbody tr:nth-child(odd){
  background-color: #f2f2f2;
}

#participantTable tbody tr:hover, #attendanceTable tbody tr:hover {
  background-color: #cccccc;
}

.tableNumber{
  background-color: #CE2F2F;
  color: white;
}

.participantTable-menu {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.switchParticipantView {
  background-color: #093980;
  color: #fff;
  padding: 3px;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  cursor: pointer;
}

.addParticipantBtn {
  background-color: #093980;
  width: fit-content;
  color: white;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  font-size: small;
  cursor: pointer;
  border: none;
}

.addParticipantBtn:hover{
  background-color: #002152;
  color: white;
}

/* .participantMenu {
  display: flex;
  flex-direction: column;
  border: 1px solid #093980;
  box-shadow: 3px 3px 6px 0px #093980;
  padding: 0.5em;
  gap: 10px;
} */
/* 
.participantMenu li {
  border-left: 1px solid #002152;
  margin-left: 0.2em;
  padding-left: 0.2em;
} */

.searchParticipant, .searchAttendance {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #093980;
  border-radius: 8px;
  font-weight: 500;
  font-size: small;
  padding-left: 10px;
}

.searchParticipant::placeholder, .searchAttendance::placeholder {
  padding-left: 10px;
  font-weight: 500;
  font-size: small;
  box-shadow: none;
} 

.updateStatusModal-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.status-content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
}

.status-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  padding-top: 10px;
}

.status-list-title {
  flex: 1;
  font-weight: bold;
  color: #CE2F2F;
}

.status-list-toggle {
  display: flex; 
  flex: 2; 
  width: 100%;
}

.status-list-toggle div {
  display: flex;
  flex: 1;
}

.status-list-toggle div input[type='radio']{
  display: none;
}

.status-list-toggle div label {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.attendance-radio input[type="radio"]:checked + label {
  background-color: #093980;
  color: white;
}

.attendance-radio input[type="radio"]:not(:checked) + label {
  background-color: #DDEBFF;
  color: #575757;
}

.payment-radio input[type="radio"]:checked + label {
  background-color: #093980;
  color: white;
}

.payment-radio input[type="radio"]:not(:checked) + label {
  background-color: #DDEBFF;
  color: #575757;
}

.output-radio input[type="radio"]:checked + label {
  background-color: #093980;
  color: white;
}

.output-radio input[type="radio"]:not(:checked) + label {
  background-color: #DDEBFF;
  color: #575757;
}

.payment-details {
  width: 95%;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.1s ease;
  border: 1px solid #093980;
  border-top: 2em solid #093980;
  padding: 0.5em;
  margin-top: 1em;
  color: black;
  background-color: #eff5ff;
}

.editPaymentDetails-btn {
  background-color: #ce2f2f; 
  color:  white; 
  border: none; 
  border-radius: 10px; 
  margin-top: 1em;
}

.editPaymentDetails-btn:hover {
  box-shadow: 0px 1px 3px 1px black;
}

.savePayment-btn {
  background-color: #649563;
  color: white;
  border: none;
  border-radius: 10px;
  margin-right: 5px;
}

.closePayment-btn {
  background-color: #CE2F2F;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
}

.closePayment-btn:hover, .savePayment-btn:hover {
  box-shadow: 0px 1px 3px 1px black;
}

.payment-details input, .payment-details select {
  box-shadow: none;
}

.payment-details .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.payment-details .row div {
  display: flex;
  flex-direction: column;
}

.payment-details button {
  width: max-content;
}

.attendanceDay {
  font-size: medium;
  font-weight: 600;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.attendance-action-button {
  background-color: #24305E;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.attendance-close-edit{
  background-color: #9c1d1d;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.attendance-time-input {
  /* General styling */
  padding: 3px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  
  /* Custom arrow (if supported by the browser) */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.attendance-time-input::-webkit-calendar-picker-indicator {
  display: none;
  background-color: #007bff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.attendance-time-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}


/*--------------------------------- media ---------------------------------*/

@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  .nav-sidebar li a {
    font-size: 9px;
  }
  .profile-name {
    font-size:10px;
  }

  .profile-position {
    font-size: 9px;
  }

}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
  .main-body .body-content {
    height: fit-content;
  }

  .nav-sidebar {
    display: none;
  }

  .nav-sidebar-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px #24305E solid;

  }

  .nav-sidebar-mobile a {
    color: #24305E;
    text-decoration: none;
    padding: 10px;
  }

  .middle-content {
    /* transform: scale(1); */
    font-size: small;
  }

  .recent-acts {
    max-height: 500px;
  }

  .middle-content {
    max-height: 500px;
    border-bottom: 1px solid grey;
  }

  .participantTable-container, .attendanceTable-container{
    /* scale: 95%; */
  }
}